@import "tailwindcss";

:root {
  /*Colors*/
  --primary: hsl(239 85% 67%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(225 14% 92%);
  --secondary-foreground: hsl(220 13% 27%);
  --accent: hsl(226 100% 94%);
  --accent-foreground: hsl(220 13% 27%);
  --background: hsl(210 40% 98%);
  --foreground: hsl(222 31% 18%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222 31% 18%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222 31% 18%);
  --muted: hsl(220 14% 96%);
  --muted-foreground: hsl(214, 59%, 43%);
  --destructive: hsl(0 84% 60%);
  --destructive-foreground: hsl(0 0% 100%);
  --success: hsl(145 63% 46%);
  --success-foreground: hsl(0 0% 100%);
  --border: hsl(216 13% 84%);
  --input: hsl(216 13% 84%);
  --ring: hsl(239 85% 67%);

  --sidebar-background: hsl(220 14% 96%);
  --sidebar-foreground: hsl(222 31% 18%);
  --sidebar-primary: hsl(239 85% 67%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(226 100% 94%);
  --sidebar-accent-foreground: hsl(220 13% 27%);

  --chart-clr1: hsl(239 85% 67%);
  --chart-clr2: hsl(243 78% 59%);
  --chart-clr3: hsl(244 58% 50%);
  --chart-clr4: hsl(245 54% 41%);
  --chart-clr5: hsl(242 47% 34%);

  /*Font sizes*/
  --text-xs: 0.625rem; /*10px*/
  --text-sm: 0.8125rem; /*13px*/
  --text-normal: 1rem; /*16px*/
  --text-h6: 1.25rem; /*20px*/
  --text-h5: 1.5625rem; /*25px*/
  --text-h4: 1.9375rem; /*31px*/
  --text-h3: 2.4375rem; /*39px*/
  --text-h2: 3.0625rem; /*49px*/
  --text-h1: 3.8125rem; /*61px*/
}

.dark {
  --primary: hsl(234 89% 74%);
  --primary-foreground: hsl(222 47% 11%);
  --secondary: hsl(221 21% 23%);
  --secondary-foreground: hsl(216 13% 84%);
  --accent: hsl(220 13% 27%);
  --accent-foreground: hsl(216 13% 84%);
  --background: hsl(222 47% 11%);
  --foreground: hsl(215 19% 90%);
  --card: hsl(222 31% 18%);
  --card-foreground: hsl(215 19% 90%);
  --popover: hsl(222 31% 18%);
  --popover-foreground: hsl(215 19% 90%);
  --muted: hsl(222 31% 18%);
  --muted-foreground: hsl(216 10% 64%);
  --destructive: hsl(0 84% 60%);
  --destructive-foreground: hsl(222 47% 11%);
  --success: hsl(145 63% 46%);
  --success-foreground: hsl(0 0% 100%);
  --border: hsl(216 14% 34%);
  --input: hsl(220 26% 21%);
  --ring: hsl(235 90% 73%);

  --sidebar-background: hsl(222 31% 18%);
  --sidebar-foreground: hsl(215 19% 90%);
  --sidebar-primary: hsl(235 90% 73%);
  --sidebar-primary-foreground: hsl(222 47% 11%);
  --sidebar-accent: hsl(220 13% 27%);
  --sidebar-accent-foreground: hsl(216 13% 84%);

  --chart-clr1: hsl(235 90% 73%);
  --chart-clr2: hsl(239 85% 67%);
  --chart-clr3: hsl(243 78% 59%);
  --chart-clr4: hsl(244 58% 50%);
  --chart-clr5: hsl(245 54% 41%);
}

@theme inline {
  /*Colors*/
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-chart-clr1: var(--chart-clr1);
  --color-chart-clr2: var(--chart-clr2);
  --color-chart-clr3: var(--chart-clr3);
  --color-chart-clr4: var(--chart-clr4);
  --color-chart-clr5: var(--chart-clr5);

  /*Font sizes*/
  --text-xs: var(--text-xs);
  --text-sm: var(--text-sm);
  --text-normal: var(--text-normal);
  --text-h6: var(--text-h6);
  --text-h5: var(--text-h5);
  --text-h4: var(--text-h4);
  --text-h3: var(--text-h3);
  --text-h2: var(--text-h2);
  --text-h1: var(--text-h1);

  /*Border radius*/
  --radius-none: 0;
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-card: 24px;

  /*Breakpoints*/
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

*::before,
*::after,
* {
  box-sizing: border-box;
}
