@import "tailwindcss";

:root {
  /*Colors*/
  --primary: #6366f1;
  --primary-foreground: #ffffff;
  --secondary: #e8eaf0;
  --secondary-foreground: #374151;
  --accent: #e0e7ff;
  --accent-foreground: #374151;
  --background: #fafbfc;
  --foreground: #1e293b;
  --card: #ffffff;
  --card-foreground: #1e293b;
  --popover: #ffffff;
  --popover-foreground: #1e293b;
  --muted: #f1f3f5;
  --muted-foreground: #2c5eab;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --success: #22c55e;
  --success-foreground: #ffffff;
  --border: #d1d5db;
  --input: #d1d5db;
  --ring: #6366f1;

  --sidebar-background: #f1f3f5;
  --sidebar-foreground: #1e293b;
  --sidebar-primary: #6366f1;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e0e7ff;
  --sidebar-accent-foreground: #374151;

  --chart-clr1: hsl(239 85% 67%);
  --chart-clr2: hsl(243 78% 59%);
  --chart-clr3: hsl(244 58% 50%);
  --chart-clr4: hsl(245 54% 41%);
  --chart-clr5: hsl(242 47% 34%);

  /*Font sizes*/
  --text-xs: 0.625rem; /*10px*/
  --text-sm: 0.8125rem; /*13px*/
  --text-normal: 1rem; /*16px*/
  --text-h6: 1.25rem; /*20px*/
  --text-h5: 1.5625rem; /*25px*/
  --text-h4: 1.9375rem; /*31px*/
  --text-h3: 2.4375rem; /*39px*/
  --text-h2: 3.0625rem; /*49px*/
  --text-h1: 3.8125rem; /*61px*/
}

.dark {
  --primary: #818cf8;
  --primary-foreground: #0f172a;
  --secondary: #2d3748;
  --secondary-foreground: #d1d5db;
  --accent: #374151;
  --accent-foreground: #d1d5db;
  --background: #0f172a;
  --foreground: #e2e8f0;
  --card: #1e293b;
  --card-foreground: #e2e8f0;
  --popover: #1e293b;
  --popover-foreground: #e2e8f0;
  --muted: #1e293b;
  --muted-foreground: #9ca3af;
  --destructive: #ef4444;
  --destructive-foreground: #0f172a;
  --success: #22c55e;
  --success-foreground: #ffffff;
  --border: #4b5563;
  --input: #273243;
  --ring: #818cf8;

  --sidebar-background: #1e293b;
  --sidebar-foreground: #e2e8f0;
  --sidebar-primary: #818cf8;
  --sidebar-primary-foreground: #0f172a;
  --sidebar-accent: #374151;
  --sidebar-accent-foreground: #d1d5db;

  --chart-clr1: #818cf8;
  --chart-clr2: #6366f1;
  --chart-clr3: #4f46e5;
  --chart-clr4: #4338ca;
  --chart-clr5: #3730a3;
}

@theme inline {
  /*Colors*/
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-chart-clr1: var(--chart-clr1);
  --color-chart-clr2: var(--chart-clr2);
  --color-chart-clr3: var(--chart-clr3);
  --color-chart-clr4: var(--chart-clr4);
  --color-chart-clr5: var(--chart-clr5);

  /*Font sizes*/
  --text-xs: var(--text-xs);
  --text-sm: var(--text-sm);
  --text-normal: var(--text-normal);
  --text-h6: var(--text-h6);
  --text-h5: var(--text-h5);
  --text-h4: var(--text-h4);
  --text-h3: var(--text-h3);
  --text-h2: var(--text-h2);
  --text-h1: var(--text-h1);

  /*Border radius*/
  --radius-none: 0;
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-card: 24px;

  /*Breakpoints*/
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

*::before,
*::after,
* {
  box-sizing: border-box;
}
